//backgrounds
$yellow-bg: #FAC564;
$yellow-alpha-bg: #f8b24827;
$dark-green-bg: #121812;
$white-bg: rgb(214, 213, 210);
$black-bg: #000;
$grey-bg: #3a3937;

//backgrounds hover
$yellow-bg-h:#f3aa22;

//text colors
$grey-text: #808080;
$white-text: #fff;
$yellow-text: #FAC564;